// apply a natural box layout model to all elements, but allowing components to change

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  background: $c-background;
  font-family: 'Arimo', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;

}

.container {
  max-width: 65rem;
  margin: 0 auto;
}
