$c-primary: #C63D0F;
$c-text: #3B3738;
$c-background: #FDF3E7;
$c-accent: #7E8F7C;


@import 'reset';
@import 'top';
@import 'nav';
@import 'index';

.auction__hero {
  height: 55vh;
  background: url('../record-shop.jpg');
  background-size: cover;
  background-position: top;
  filter: brightness(90%);

  &-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55vh;
  }

  &-content {
    color: $c-background;
  }
}

.content__title {}
.content__item {}
