$c-primary: #C63D0F;
$c-text: #3B3738;
$c-background: #FDF3E7;
$c-accent: #7E8F7C;


@import 'reset';
@import 'top';
@import 'nav';

.accent {
  display: inline;
  color: $c-accent;
}

.hero {
  height: 75vh;
  background: url('../hand-tools.jpg');
  background-size: cover;
  background-position: top;
  filter: brightness(90%);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
    color: $c-background;
    text-align: center;

    &-tag {
      font-size: 3rem;
    }
  }
}

.index__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  color: $c-primary;
  text-align: center;
}

.main-box {
  display: flex;
  justify-content: center;

  &__link {
    margin: 1rem;
    padding: 0.5rem;
    border: $c-primary 2px solid;
    border-radius: 0.4rem;
    background: $c-background;
    color: $c-primary;

    &:hover {
      background: $c-accent;
      border: transparent 2px solid;
      color: $c-background;
    }
  }
}
