$c-primary: #C63D0F;
$c-text: #3B3738;
$c-background: #FDF3E7;
$c-accent: #7E8F7C;


@import 'reset';
@import 'top';
@import 'nav';
@import 'index';
@import 'auction-template';
@import 'contact';

.index__about {

  &-item {
    text-align: center;
    color: $c-primary;
  }
}
