<div class="contact">
  <div class="container">
    <div class="contact__content">
      <h1 class="contact__content-title">Contact Us</h1>
      <h2 class="contact__content-item"><a href="mailto:bornsellers16@yahoo.com"><span class="accent">Email</span> bornsellers16@yahoo.com</a></h2>
      <h2 class="contact__content-item"><a href="tel:5734804400"><span class="accent">Greg</span> (573) 480-4400</a></h2>
      <h2 class="contact__content-item"><a href="tel:5733080067"><span class="accent">Auction House</span> (573) 308-0067</a></h2>
      <h2 class="contact__content-item"><a href="https://www.facebook.com/SASRolla/"><span class="accent">Facebook Page</span></a></h2>
      <h2 class="contact__content-item"><div class="accent">Come See Us at</div> <a href="http://maps.google.com/?q=1200 15990 County Rd. 8140 Rolla MO 65401">15990 County Rd. 8140 Rolla MO 65401</a></h2>
    </div>
  </div>
</div>
