<div class="contact">
  <div class="container">
    <div class="contact__content">
      <h2 class="contact__content-item"><a href="mailto:bornsellers16@yahoo.com">bornsellers16@yahoo.com</a></h2>
      <h2 class="contact__content-item"><a href="tel:5734804400">Greg (573) 480-4400</a></h2>
      <h2 class="contact__content-item"><a href="tel:5733080067">Auction House (573) 308-0067</a></h2>
      <h2 class="contact__content-item"><a href="https://www.facebook.com/SASRolla/">Facebook Page</a></h2>
      <h2 class="contact__content-item"></h2>
    </div>
  </div>
</div>
