<div class="hero">
  <div class="container">
    <div class="hero__content">
      <h2 class="hero__content-tag">"We're Born Sellers!"</h2>
      <div class="main-box">
        <div class="main-box__link">
          {{#link-to "auction.weekly"}}Weekly Auctions{{/link-to}}
        </div>
        <div class="main-box__link">
          {{#link-to "auction.estate"}}Estate Auctions{{/link-to}}
        </div>
        <div class="main-box__link">
          {{#link-to "auction.real-estate"}}Real-Estate Auctions{{/link-to}}
        </div>
        <div class="main-box__link">
          {{#link-to "auction.special"}}Special Auctions{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="index__about">
  <h2 class="index__about-item">We are a Family Owned and Operated Full Service Auction Company Specializing in</h2>
  <h2 class="index__about-item">Family Estates</h2>
  <h2 class="index__about-item">Real-Estate</h2>
  <h2 class="index__about-item">Consignments</h2>
  <h2 class="index__about-item">Farms and Equipment</h2>
  <h2 class="index__about-item">Business Liquidations</h2>
  <h2 class="index__about-item">Conducting over 85 Auctions a Year</h2>
</div>

<div class="index__main">
  <h1 class="main-title">Current Auctions</h1>
</div>

{{outlet}}
