<div class="hero">
  <div class="container">
    <div class="hero__content">
      <h2 class="hero__content-tag">"We're Born Sellers!"</h2>
    </div>
  </div>
</div>

<div class="index__main">
  <div class="main-title">Auctions</div>
  <div class="main-box">
    <div class="main-box__link">1st</div>
    <div class="main-box__link">2nd</div>
  </div>
</div>

{{outlet}}
