<div class="hero">
  <div class="container">
    <div class="hero__content">
      <h2 class="hero__content-tag">"We're Born Sellers!"</h2>
      <div class="main-box">
        <div class="main-box__link">Weekly Auctions</div>
        <div class="main-box__link">Estate Auctions</div>
        <div class="main-box__link">Real-Estate Auctions</div>
        <div class="main-box__link">Special Auctions</div>
      </div>
    </div>
  </div>
</div>

<div class="index__main">
  <h1 class="main-title">Auctions</h1>
</div>

{{outlet}}
