<div class="card">
  <h1 class="card__title">Login</h1>
  {{#simple-form class="card__form" onsubmit=(action "checkForm") as | formValues |}}
    {{input class="card__input" type="text" required=true value=formValues.email placeholder="E-Mail"}}
    {{input class="card__input" type="password" required=true value=formValues.password placeholder="Password"}}
    <div class="card__btn">
      <button type="submit" class="card__btn-btn">Let Me In</button>
    </div>
  {{/simple-form}}
</div>

{{outlet}}
