<div class="top">
  <div class="container">
    <div class="top__content">
      <div class="top__content-phone">
        <i class="fa fa-phone fa-2x icon" aria-hidden="true"></i>
        <h2 class="number">573 480-4400</h2>
      </div>
      <div class="top__content-linkbox">
        <div class="top__content-link">
          <a href="https://www.facebook.com/SASRolla/"><i class="fa fa-facebook-square fa-2x icon" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nav">
  <div class="container">
    <div class="nav__content">
      <h1 class="nav__content-title">{{#link-to "index"}}<div class="accent">Sellers</div> Auction Service{{/link-to}}</h1>
      <div class="nav__content-linkbox">
        {{!-- <h2 class="nav__content-link">
          {{#link-to "auction"}}Auctions{{/link-to}}
        </h2> --}}
        <h2 class="nav__content-link">
          {{#link-to "contact"}}Contact{{/link-to}}
        </h2>
        <h2 class="nav__content-link"></h2>
      </div>
    </div>
  </div>
</div>

  {{outlet}}
