<div class="auction__hero">
  <div class="container">
    <div class="auction__hero-box">
      <div class="auction__hero-content">
        <h2 class="content__item">{{#link-to 'auction.weekly'}}Weekly Auctions{{/link-to}}</h2>
        <h2 class="content__item">{{#link-to 'auction.estate'}}Estate Auctions{{/link-to}}</h2>
        <h2 class="content__item">{{#link-to 'auction.real-estate'}}Real-Estate Auctions{{/link-to}}</h2>
        <h2 class="content__item">{{#link-to 'auction.special'}}Special Auctions{{/link-to}}</h2>
      </div>
    </div>
  </div>
</div>
{{outlet}}
